<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 
 <display-name>retrieve</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>SQLExecutor</display-name>
    <servlet-name>SQLExecutor</servlet-name>
    <servlet-class>org.retrieve.common.SQLExecutor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQLExecutor</servlet-name>
    <url-pattern>/SQLExecutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasicServlet</display-name>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>org.retrieve.controller.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern>/BasicServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>BoardController</display-name>
    <servlet-name>BoardController</servlet-name>
    <servlet-class>org.retrieve.controller.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>setCharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    
</filter>
</web-app>